* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;

}

.letter-spacing {
    letter-spacing: 10px;
    text-transform: uppercase;
}

.btn {
    text-transform: uppercase;
    border: 2px solid white;
    background: transparent;
    color: white;
    padding: 10px 20px;
    border-radius: 2rem;
    cursor: pointer;
}

/* top */
.top {
    background-image: linear-gradient(315deg, #2b4162 0%, #ab1515 50%);
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}



.icon {
    text-decoration: none;
    color: white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0px 5px;
}

.contactcontainer {
    display: flex;
}

.contact {
    display: flex;
    align-items: center;
}

.contact1 {
    margin-left: 5px;
    border-left: 2px solid white;
    padding-left: 10px;
}

.contact p {
    margin-left: 10px;
}



/* navbar */

.navbar {
    background-image: linear-gradient(180deg, #b50d39 0%, #000000 74%);
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navbar .logo {
    font-size: 1.8rem;
}

.navbar .links ul {
    display: flex;
}

.navbar .links ul li {
    cursor: pointer;
    text-transform: capitalize;
    display: flex;
    padding: 10px;
}

.navbar .links ul .buynow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #212121;
}

.navbar .links ul .buynow p {
    padding-left: 5px;
}


.navbar .search {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    border-radius: 3rem;
    padding: 10px;
    cursor: pointer;
}


/* HERO SECTION */
.hero {
    min-height: 81.5vh;
    color: white;
    background: linear-gradient(rgba(21, 21, 21, 0.7), rgba(21, 21, 21, 0.7)), url(./p.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero div {
    width: 60%;
    border-left: 3px solid white;
    padding: 20px;
}

.hero div h1 {
    font-size: 3.5rem;

}

.hero button {
    margin-top: 15px;
}

/* SERVCIES SECTION */
.services {
    background-image: linear-gradient(315deg, #f50707 0%, #212121 60%);
    color: white;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 5rem;
}

.services .service>div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

}

.services .service>div>i {
    font-size: 2rem;
    padding: 10px;
    border: 1px solid white;
    border-radius: 2rem;
}

.services .service>div>h2 {
    text-transform: uppercase;
    margin-left: 10px;

}

.services .service>p {
    font-size: 0.8rem;

}


/* ABOUT SECTION */
.about {
    color: white;
    background: linear-gradient(rgba(21, 21, 21, 0.7), rgba(21, 21, 21, 0.7)), url(./y.avif
    );
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 200px;
    display: flex;
    justify-content: center;

}

.about>div {
    width: 50%;
}

.about>div>h1 {
    font-size: 2.5rem;
    text-decoration: underline;
}

.about>div>h3 {
    padding: 5px 0px;
    text-transform: capitalize;
}


.about>div>p {
    font-size: 0.8rem;
    padding-bottom: 10px;
}

/* OUR SERVICES */
.ourservices {
    color: white;
    background-image: linear-gradient(315deg, #2b4162 0%, #212121 40%);
    padding: 50px 200px;
}

.ourservices .cards {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 5rem;
}

.ourservices>h1 {
    text-decoration: underline;
}

.ourservices .cards .card1 {
    background-image: url(user\ experience.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 300px;
    background-color: red;
    position: relative;
}

.ourservices .cards .card1 .content {
    background-color: white;
    color: #252525;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: -20px;
    right: 0;
    border-radius: 2rem;
}

.ourservices .cards .card1 .content h3 {
    text-transform: uppercase;
    padding-left: 5px;

}